.outer_container {
  background-color: #708090;
  width: 100vw;
  padding: 5rem;
}

.input_container {
  background-color: #545f72;
  height: 25rem;
  width: 100%;
  border-radius: 20px;
  border: black 1px solid;
  display: flex;
  flex-direction: column;
  border: 4px black solid;
}

.title {
  width: 100%;
  font-size: 2.5rem;
  padding-top: 1rem;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.left_input {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.input_center {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: center;
  justify-content: center;
}

.right_input {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.button_input {
  display: flex;
  justify-content: center;
}

.budget {
  width: 50%;
}

.oneway {
  width: 40%;
  margin-left: 10px;
}

.departing {
  width: 50%;
}

.domestic {
  width: 40%;
  margin-left: 10px;
  margin-top: 2rem;
}

.end_date {
  margin-top: 2rem;
}

.map_container {
  padding-top: 2rem;
}
