@font-face {
  font-family: 'goudy-trajan-regular';
  src: url('https://www.dafontfree.net/data/19/g/91933/GoudyTrajan-Regular-trial.otf')
      format('woff'),
    url('https://www.dafontfree.net/data/19/g/91933/GoudyTrajan-Regular-trial.otf')
      format('opentype'),
    url('https://www.dafontfree.net/data/19/g/91933/GoudyTrajan-Regular-trial.otf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Palatino';
}

.timeline_img {
  width: 100%;
}

.result-card-image {
  width: 100%;
}

.leaflet-control-attribution {
  display: none;
}

.medals {
  width: 300px;
  height: 200px;
  margin: auto;
}

/* [1] The container */
.img-hover-zoom {
  width: 100%; /* set the width of the container */
  height: 30rem; /* set the height of the container */
  display: flex; /* use flexbox to center the image */
  justify-content: center; /* center the content horizontally */
  align-items: center; /* center the content vertically */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  max-width: 100%; /* set the maximum width of the image to 100% of the container */
  max-height: 100%; /* set the maximum height of the image to 100% of the container */
  object-fit: contain;
}

.rankimage {
  width: 50px;
  height: 50px;
}

.medals {
  width: 150px;
  height: 200px;
}

.background {
  background-color: rgb(225, 215, 170);
  color: black;
}

.timeline-actions-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* center the content horizontally */
  align-items: center; /* center the content vertically */
}

#timeline-actions-highlight {
  font-size: 5rem;
  width: 75vw;
  display: flex;
  align-items: center;
  text-align: center;
}

#highlight-container {
  padding: 2rem;
}

#upload-file-button {
  width: 10rem;
  height: 5rem;
  font-size: 1rem;
}

.timeline_location {
  display: flex;
  width: 100%;
  text-align: center;
  align-content: center;
  justify-content: center;
  font-size: 3rem;
}

.timeline_dates {
  display: flex;
  width: 100%;
  text-align: center;
  align-content: center;
  justify-content: center;
  font-size: 1.5rem;
}

.card-container {
  margin-bottom: 5rem;
}

.card-left-border {
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  border-left: 10px solid black;
}

.card-right-border {
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  border-left: 10px solid black;
  border-right: 10px solid black;
}

.highlight-with-comments {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10rem;
  font-size: 2rem;
  border-bottom: 10px solid black;
  font-weight: bold;
}

.comments {
  font-size: 1.5rem;
  padding-top: 0.5;
  padding-left: 1rem;
}

.friends-page,
.profile-page {
  background-color: rgb(101 117 133);
}

.image-list-item:hover {
  cursor: pointer;
}

.result-card-container {
  border: 10px solid black;
  width: 45%;
  margin: 1rem;
}

.results-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-color: #708090;
  justify-content: center;
  align-content: center;
  padding-top: 5rem;
}

.results-page-container {
  background-color: #708090;
  width: 100%;
  height: 100vh;
}

.map-container {
  background-color: #708090;
}

.black-outline {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}