* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

.timeline_img {
  width: 100%;
}

.result-card-image {
  width: 100%;
}

.leaflet-control-attribution {
  display: none;
}

.medals {
  width: 300px;
  height: 200px;
  margin: auto;
}

/* [1] The container */
.img-hover-zoom {
  width: 100%; /* set the width of the container */
  height: 30rem; /* set the height of the container */
  display: flex; /* use flexbox to center the image */
  justify-content: center; /* center the content horizontally */
  align-items: center; /* center the content vertically */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  max-width: 100%; /* set the maximum width of the image to 100% of the container */
  max-height: 100%; /* set the maximum height of the image to 100% of the container */
  object-fit: contain;
}

.rankimage {
  width: 50px;
  height: 50px;
}

.medals {
  width: 150px;
  height: 200px;
}

.timeline-actions-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* center the content horizontally */
  align-items: center; /* center the content vertically */
  /* background-image: url('../public/background-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}

#timeline-actions-highlight {
  font-size: 5rem;
  width: 75vw;
  display: flex;
  align-items: center;
  text-align: center;
}

#highlight-container {
  padding: 2rem;
}

#upload-file-button {
  width: 10rem;
  height: 5rem;
  font-size: 1rem;
}
